{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "plugin:prettier/recommended"],
  "plugins": ["babel", "react", "promise", "import", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
