{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "semi": false }]
  }
}
