.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 480px;
  z-index: 6;
}
.menuHide {
  background-color: white;
  position: absolute;
  right: -600px;
  width: 400px;
  height: 1000px;
  top: 0px;
  z-index: -1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transform: translate3d(-50px, 0, 0);
}

.menuShow {
  background-color: white;
  position: absolute;
  width: 400px;
  right: 100px;
  top: 0px;
  height: 1000px;
  z-index: 1;
  transform: translate3d(100px, 0, 0);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar-control {
  position: absolute;
  z-index: 2;
  top: 32px;
  right: 32px;
  display: flex;
  flex-direction: row-reverse;
}

.sidebar-control button {
  margin-left: 20px !important;
}

.sidebar-content {
  z-index: 6;
  background: white;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  width: 480px;
  padding-top: 32px;
  background: white;
  transform: translateX(100%);
  transition: all 0.5s 0.2s;
}
.sidebar.active .sidebar-content {
  transform: translateX(0);
  transition: all 0.5s 0.2s;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title {
  border-left: 5px solid #212b35;
  color: #212b35;
  padding-left: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
}
