.keyboard-shorcuts {
  font-size: 12px;

  margin-bottom: 20px;
}
.keyboard-shorcuts span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 5px;
}

.keyboard-shorcuts span strong {
  color: white;
}
