.random-bg {
  background: url(/assets/images/background.jpg) center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}
.App {
  padding: 32px;
  background: url(/assets/images/overlay-center.png) center center no-repeat;
  background-size: cover;
}

.time-countdown {
  font-size: 500% !important;
}

.grid-container {
  display: grid;
  grid-template: repeat(6, [row] minmax(80px, 1fr)) / repeat(4, [col] 1fr);
  grid-gap: 20px;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
}

.item-1 {
  grid-column: col 1 / span 4;
  grid-row: row 1;
}

.item-2 {
  grid-column: col 4;
  grid-row: row 1 / span 3;
}

.item-3 {
  grid-column: col 1;
  grid-row: row 2;
}

.item-4 {
  grid-column: col 2 / span 2;
  grid-row: row 2 / span 3;
}

.item-5 {
  grid-column: col 1;
  grid-row: row 3;
}

.item-6 {
  grid-column: col 1 / span 4;
  grid-row: row 5;
}

.item-7 {
  grid-column: col 1 / span 4;
  grid-row: row 6;
  text-align: center;
}

.logo .title {
  display: block;
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
}
.logo .description {
  display: block;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s, visibility 0s 0s;
}
